<section>
  <header class="flex-header">
    <h1 class="grow-header">
      {{localize "IMPROVISERS_ASSISTANT.main-section-header"}}
    </h1>
    <button
      class="module-control"
      type="button"
      title="{{localize 'IMPROVISERS_ASSISTANT.generate-button-title'}}"
    >
      <i class="fas fa-random fa-fw"></i>
    </button>
  </header>
</section>
<section class="generated-image-container">
  {{#if this.imageUrl}}
    <img
      class="generated-image"
      src="{{this.imageUrl}}"
      alt="{{localize 'IMPROVISERS_ASSISTANT.generated-image-alt'}}"
    />
  {{else}}
    <p class="generated-image-placeholder">
      🐶
    </p>
  {{/if}}
</section>
