<section>
  <header class="flex-header">
    <h1 class="grow-header">
      {{localize "IMPROVISERS_ASSISTANT.MainSectionHeader"}}
    </h1>
    <button
      class="module-control"
      type="button"
      title="{{localize 'IMPROVISERS_ASSISTANT.GenerateButtonTitle'}}"
    >
      <i class="fas fa-random fa-fw"></i>
    </button>
  </header>
</section>
<section class="generated-image-container">
  {{#if this.isLoading}}
    <p class="generated-image-placeholder">
      {{localize "IMPROVISERS_ASSISTANT.LoadingMessage"}}
    </p>
  {{else}}
    {{#if this.imageUrl}}
      <img
        class="generated-image"
        src="{{this.imageUrl}}"
        alt="{{localize 'IMPROVISERS_ASSISTANT.GeneratedImageAlt'}}"
      />
    {{else}}
      <p class="generated-image-placeholder">
        {{localize "IMPROVISERS_ASSISTANT.InitialPrompt"}}
      </p>
    {{/if}}
  {{/if}}
</section>
