<section>
  <header class="flex-header">
    <h1 class="grow-header">
      {{localize "IMPROVISERS_ASSISTANT.MainSectionHeader"}}
    </h1>
  </header>
  <div class="prompt-input-container">
    <input
      type="text"
      name="prompt"
      class="prompt-input"
      value="{{prompt}}"
      placeholder="{{localize 'IMPROVISERS_ASSISTANT.PromptPlaceholder'}}"
    />
    <button
      class="generate-button"
      type="button"
      title="{{localize 'IMPROVISERS_ASSISTANT.GenerateButtonTitle'}}"
      width="25px"
    >
      <i class="fas fa-arrows-spin"></i>
    </button>
  </div>
</section>
<section class="generated-image-container">
  {{#if isLoading}}
    <p class="generated-image-placeholder">
      {{localize "IMPROVISERS_ASSISTANT.LoadingMessage"}}
    </p>
  {{else}}
    {{#if imageUrl}}
      <img
        class="generated-image"
        src="{{imageUrl}}"
        alt="{{localize 'IMPROVISERS_ASSISTANT.GeneratedImageAlt'}}"
      />
    {{else}}
      <p class="generated-image-placeholder">
        {{localize "IMPROVISERS_ASSISTANT.InitialPrompt"}}
      </p>
    {{/if}}
  {{/if}}
</section>
